

.create-button {
  background-color: #2ecc71; 
  color: #fff;
}

.edit-button {
  background-color: #3498db; 
  color: #fff;
}

.delete-button {
  background-color: #e74c3c; 
  color: #fff;
}

.custom-button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
  font-size: 16px;
}

.custom-button:hover {
  opacity: 0.8;
}


.sign-up-button{
  display:block;
  width:80%;
  padding:15px;
  background-color: #eeeeee;
  color:#0f044c;
  border:none;
  border-radius:20px;
  font-size:20px;
  font-weight:600;
  opacity:0.8;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.sign-up-button:hover{
  opacity:1;
}

