.input-container{
    display: flex;
    overflow: hidden;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    justify-content: center;
    align-items: center;
}


.form-input{
    width:90%;
    margin-bottom:25px;
    padding:0 30px 15px;
    font-size:16px;
    border:none;
    border-bottom: 1px solid #141e75;
    outline:none;
    background-color: transparent;
}

.form-input:focus{
    border-bottom: 1px solid #eeeeee;
}